.fp-map
  .fp-map__bar
    .fp-map__count
      mat-icon place
      span {{ count() }} freepeepees visible
    .fp-map__actions
      button(mat-stroked-button, (click)="openFilter()", [class.fp-map__filter-active]="filterCount() > 0",
             matTooltip="filter by city, type or status")
        mat-icon filter_list
        | {{ filterCount() > 0 ? 'filter (' + filterCount() + ')' : 'filter' }}
      button(mat-stroked-button, (click)="findNearMe()", matTooltip="find toilets within 2 km of your location")
        mat-icon my_location
        span.fp-map__btn-label find near me
      button(*ngIf="isAdmin()", mat-flat-button, color="accent", (click)="add()", matTooltip="add new freepeepee")
        mat-icon add
        span.fp-map__btn-label new freepeepee
  .fp-map__canvas(#mapEl)
