.fp-form {
  display: grid;
  gap: 8px;
  min-width: 320px;

  mat-form-field { width: 100%; }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  mat-slide-toggle { margin: 4px 0 8px; }
}
